<footer id="footer" class="footer">
	<div class="footer-menu-grid">
		<div>
			<h3 class="menu-heading">Randolph County Public Library</h3>
			<ul class="footer-menu-list">
				<li>
					<a href="https://goo.gl/maps/ryyfpwCob2dki2cK9">
						<address>
							Headquarters: Asheboro Public Library<br>
							201 Worth Street,<br>
							Asheboro, NC 27203
						</address>
					</a>
				</li>
				<li><a href="tel:3363186800">(336) 318-6800</a></li>
				<li><a href="mailto:reference@randolphlibrary.org">reference@randolphlibrary.org</a></li>
				<li><a href="https://randolphlibrary.libguides.com/c.php?g=247622">Directory</a>
			</ul>
			<ul class="social-links">
				<li>
					<a href="https://www.facebook.com/pages/North-Asheboro-NC/Randolph-County-Public-Library/45034169697">
						<i class="fab fa-2x fa-facebook"></i><span class="hidden">Facebook</span>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/RCPL">
						<i class="fab fa-2x fa-twitter"></i>
						<span class="hidden">Twitter</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/randolphcountylibrary/?hl=en">
						<i class="fab fa-2x fa-instagram"></i>
						<span class="hidden">Instagram</span>
					</a>
				</li>
				<li>
					<a href="https://randolphlibrarynews.blogspot.com/">
						<i class="fab fa-2x fa-blogger"></i>
						<span class="hidden">Blogger</span>
					</a>
				</li>
			</ul>

		</div>
		<div>
			<h3 class="menu-heading">Sign Up</h3>
			<ul class="footer-menu-list">
				<li><a href="/library-card/">Library Card</a></li>
				<li><a href="https://www.randolphlibrary.org/newslettersignup.html">Newsletter</a></li>
				<li><a href="https://libraryelf.com/">Library Elf</a></li>
				<li><a href="https://www.randolphlibrary.org/wowbrary.html">WowBrary</a>
				<li><a href="https://www.randolphlibrary.org/blogs.html">Social Media</a>

			</ul>
		</div>
		<div>
			<h3 class="menu-heading">Resources</h3>
			<ul class="footer-menu-list">
				<li><a href="https://randolphlibrary.libguides.com/aecontent.php?pid=483701&sid=3965037">NYT Bestsellers and New Arrivals</a></li>
				<li><a href="https://randolphlibrary.libguides.com/c.php?g=247632&p=1649895">Friends of the Library</a>
				<li><a href="https://randolphlibrary.libguides.com/c.php?g=247627&p=1649916#15079378">Suggest a Purchase</a></li>
				<li><a href="https://www.randolphlibrary.org/takeatour.html">Schedule a Tour</a></li>
			</ul>
		</div>
		<div>
			<h3 class="menu-heading">Services</h3>
			<ul class="footer-menu-list">
				<li><a href="https://randolphlibrary.libguides.com/c.php?g=247627&p=1649919">Ask A Librarian</a></li>
				<li><a href="https://randolphlibrary.libguides.com/c.php?g=1110960&p=8099316">Book Clubs</a>
				<li><a href="https://www.randolphlibrary.org/classes.htm">Computer Classes</a></li>
				<li><a href="https://www.randolphlibrary.org/ill.html">Interlibrary Loan</a>
				<li><a href="https://www.randolphlibrary.org/meetingfacilities.htm">Meeting Facilities</a></li>
				<li><a href="https://www.randolphlibrary.org/printing.htm">Printing and Copying</a></li>
				<li><a href="https://randolphlibrary.libguides.com/c.php?g=1110960&p=8099313">Reference Services</a></li>
				
			</ul>
		</div>
	</div>
</footer>