<footer id="footer" class="footer">
	<div class="footer-menu-grid">
		<div>
			<h3 class="menu-heading">Randolph County Public Library</h3>
			<ul class="footer-menu-list">
				<li>
					<a href="https://goo.gl/maps/ryyfpwCob2dki2cK9">
						<address>
							Headquarters: Asheboro Public Library<br>
							201 Worth Street,<br>
							Asheboro, NC 27203
						</address>
					</a>
				</li>
				<li><a href="tel:3363186800">(336) 318-6800</a></li>
				<li><a href="mailto:reference@randolphlibrary.org">reference@randolphlibrary.org</a></li>
				<li><a href="https://randolphlibrary.libguides.com/c.php?g=247622">Directory</a>
			</ul>
			<ul class="social-links">
				<li>
					<a href="https://www.facebook.com/pages/North-Asheboro-NC/Randolph-County-Public-Library/45034169697">
						<i class="fab fa-2x fa-facebook"></i><span class="hidden">Facebook</span>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/RCPL">
						<i class="fab fa-2x fa-twitter"></i>
						<span class="hidden">Twitter</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/randolphcountylibrary/?hl=en">
						<i class="fab fa-2x fa-instagram"></i>
						<span class="hidden">Instagram</span>
					</a>
				</li>
				<li>
					<a href="https://randolphlibrarynews.blogspot.com/">
						<i class="fab fa-2x fa-blogger"></i>
						<span class="hidden">Blogger</span>
					</a>
				</li>
			</ul>

		</div>
		<div>
			<h3 class="menu-heading">Sign Up</h3>
			<ul class="footer-menu-list">
				<li><a href="/library-card/">Library Card</a></li>
				<li><a href="/newsletter/">Newsletter</a></li>
				<li><a href="https://libraryelf.com/">Library Elf</a></li>
				<li><a href="/wowbrary/">WowBrary</a>
			</ul>
		</div>
		<div>
			<h3 class="menu-heading">Resources</h3>
			<ul class="footer-menu-list">
				<li><a href="https://randolphlibrary.libguides.com/aecontent.php?pid=483701&sid=3965037">NYT Bestsellers and New Arrivals</a></li>
				<li><a href="/friends/">Friends of the Library</a>
				<li><a href="/suggest-a-purchase/">Suggest a Purchase</a></li>
				<li><a href="/take-a-tour/">Schedule a Tour</a></li>
			</ul>
		</div>
		<div>
			<h3 class="menu-heading">Services</h3>
			<ul class="footer-menu-list">
				<li><a href="/ask-a-librarian/">Ask A Librarian</a></li>
				<li><a href="/asheboro-reads/">Book Clubs</a>
				<li><a href="/classes/">Computer Classes</a></li>
				<li><a href="/ill/">Interbibrary Loan</a>
				<li><a href="/meeting-facilities/">Meeting Facilities</a></li>
				<li><a href="/printing/">Printing and Copying</a></li>
				<li><a href="/reference-services/">Reference Services</a></li>
				
			</ul>
		</div>
	</div>
</footer>