<nav class="menu">
	<div class="menu-site-link">
		<a class="site-link" href="/">
			<span class="site-logo">{% include logo %}</span>
			<span class="site-title">Randolph County <br>Public Library</span>
		</a>
	</div>
	<button class="menu-toggle">
		<div class="icon">☰</div>
		<div class="text hidden">Open the Menu</div>
	</button>
	<div class="menu-wrapper">
		<div class="search-wrapper">
			<div class="form-row">
			
				<form name="catalog-search" id="catalog-search" action="https://randol.ent.sirsi.net/client/en_US/randolph/search/results" method="get">
					<label class="hidden" for="q">Search</label>
					<div class="form-inline">
						<input id="q" name="q" title="Search For:" maxlength="256" placeholder="Search" type="search">
						<button class="button primary" type="submit"><i class="fas fa-search" title="search"></i></button>
					</div>
				</form>
				<a class="button primary" href="/my-account">My Account</a>
			</div>
		</div>
		<ul class="menu-list" data-level="1">
			<li class="menu-item">
				<a class="menu-link" href="https://randol.ent.sirsi.net/client/en_US/randolph/search/results?q=&GO22=SEARCH">Catalog</a>
			</li>
			<li class="menu-item">
				<button class="menu-link">
					<div class="text">About</div>
					<div class="direction-indicator">▲</div>
				</button>
				<ul class="menu-list" data-level="2">
					<li class="menu-item">
						<a class="menu-link" href="/welcome/" >Welcome</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/mission/" >Our Mission</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="https://www.randolphlibrary.org/trustees.htm">Board of Trustees</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/library-card/">Get a Library Card!</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="https://randolphlibrary.libguides.com/c.php?g=247628&p=1649946">Library Policies</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="http://randolphlibrarynews.blogspot.com/" target="_blank">Library News</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="https://www.randolphlibrary.org/meetingfacilities.htm">Meeting Facilities</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="https://www.randolphlibrary.org/holiday_closings.htm">Holiday Closings</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="https://randolphlibrary.libguides.com/c.php?g=247622">Staff Directory</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/faqs">FAQs</a>
					</li>
				</ul>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="https://randolphlibrary.libguides.com/c.php?g=1133050">Locations</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="https://randolphlibrary.libguides.com/c.php?g=1108758/">Ebooks</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="https://randolphlibrary.libguides.com/children">Kids</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="https://randolphlibrary.libguides.com/c.php?g=247624">Teens</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="https://randolphlibrary.libguides.com/c.php?g=1110960&p=8099313">Adults</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="https://randolphlibrary.libguides.com/c.php?g=710731">History + Geneology</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="https://randolphlibrary.libguides.com/c.php?g=247626">Outreach</a>
			</li>
		</ul>
		
	</div>
</nav>