<nav class="menu">
	<div class="menu-site-link">
		<a class="site-link" href="/">
			<span class="site-logo">{% include logo %}</span>
			<span class="site-title">Randolph County <br>Public Library</span>
		</a>
	</div>
	<button class="menu-toggle">
		<div class="icon">☰</div>
		<div class="text hidden">Open the Menu</div>
	</button>
	<div class="menu-wrapper">
		<ul class="menu-list" data-level="1">
			<li class="menu-item">
				<button class="menu-link">
					<div class="text">About</div>
					<div class="direction-indicator">▲</div>
				</button>
				<ul class="menu-list" data-level="2">
					<li class="menu-item">
						<a class="menu-link" href="/welcome/" >Welcome</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/mission/" >Our Mission</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/trustees/">Board of Trustees</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/library-card/">Get a Library Card!</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/library-policies">Library Policies</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="http://randolphlibrarynews.blogspot.com/" target="_blank">Library News</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/meeting-facilities">Meeting Facilities</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/holiday-closings">Holiday Closings</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/contact-us">Staff Directory</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="/faqs">FAQs</a>
					</li>
				</ul>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="#">Locations</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="#">Kids</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="#">Teens</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="#">Adults</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="#">History + Geneology</a>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="#">Outreach</a>
			</li>
		</ul>
	</div>
</nav>