:root {
	--color-ui-light: #eceef1;
	--color-ui-medium: #54667a;
	--color-ui-dark: #262c38;
	--color-primary: #5fa2e0;
	--color-secondary: #ffb300;
	--border-radius: 0.4rem;
	--border-width: 2px;
	--space-sm: 1rem;
	--space-md: 2rem;
	--space-lg: 4rem;
	--space-xl: 8rem;
	--breakpoint-sm: $breakpoint-sm;
	--breakpoint-md: $breakpoint-md;
	--breakpoint-lg: $breakpoint-lg;
	--font-serif: 'Georgia', 'Times New Roman', serif;
	--font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
	--color-link-default: #1565c0;
	--color-link-hover: #063881;
	--color-link-visited: #5c6bc0;

	--select-arrow: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 12" xml:space="preserve"><polyline style="fill:none;stroke:currentColor;stroke-width:4;stroke-miterlimit:10;" points="3,2 11,10 19,2 "/></svg>');
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 1.25rem;
}

body {
	font-family: var(--font-sans);
	line-height: 1.5;
	background-color: var(--color-ui-light);
	color: var(--color-ui-dark);
	margin: auto 0;
}

.hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
